/* src/app/library/page.module.css */
.page {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 0.5rem;
}

/* --- MUDANÇA DE GRID PARA LIST --- */
.list {
  display: flex;
  flex-direction: column;
  /* (O gap será controlado pelo próprio LibraryGameItem) */
  padding: 2rem 0;
}
/* --- FIM DA MUDANÇA --- */

.error,
.empty {
  font-size: 1.2rem;
  color: #a7a7a7;
  text-align: center;
  padding: 3rem;
}

.error {
  color: #fca5a5;
}