/* src/app/page.module.css */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Faz o main ocupar o espaço disponível */
}

.description {
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}